* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
    background: rgb(244, 238, 238);
}

/* Main Container */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 1000px;
  height: max-content;
  background-color: white;
  padding: 2rem;
}

.preference {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.left {
  flex: 1;
  background-color: white;
  border: 2px solid #ecedef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.left > .user-icon {
  width: 100px;
  height: 100px;
  margin: 1rem 0;
  background: #ecedef;
  padding: 1rem;
  border-radius: 50%;
}

.left > .user-icon > .icon {
  width: 100%;
  height: 100%;
}

.left > .edit {
  padding: 1rem 0;
}

.left > .edit > span {
  font-size: 1.1rem;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 10px;
}

.left > .edit > .edit-icon {
  color: blue;
}

.right {
  flex: 2;
  border: 2px solid #ecedef;
  height: 100%;

}

.right > .top{
    border-bottom: 1px solid #ecedef;
    padding: 1rem 1rem .5rem 1rem;
}

.right > .bottom{
    padding: 2rem;
    display: flex;
    gap: 4rem;
}

.right > .functionality > select{
    padding: .5rem 1rem;
}

button {
  outline: none;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
}



.facebook {
  background: #2291F4;
  color: white;
}
.instagram {
  background: linear-gradient( 90deg, #FF006C, #FFCC00, #8801FF);
  color: white;
}
.linkedIn {
    background: #2291F4;
    color: white;
}

.empty {
  width: 200px;
  height: 40px;
  background-color: #2291F4;
  padding: 1rem 0;
  margin: 1rem 0;
}
.faColor {
  background-color: #2291F4;
}
.instColor{
  background: linear-gradient( 90deg, #FF006C, #FFCC00, #8801FF);
}
.linkColor{
  background-color: #2291F4;
}

.btn-container {
  display: flex;
  gap: 10px;
}


.social-connection{
    height: 100%;
    border: 2px solid #ecedef;
}

.social-connection > .top{
    border-bottom: 1px solid #ecedef;
    padding: 1rem 1rem .5rem 1rem;
}
.social-connection > .center{
    border-bottom: 1px solid #ecedef;
    padding: 1rem 1rem .5rem 1rem;
}
.social-connection > .bottom{
    border-bottom: 1px solid #ecedef;
    padding: 1rem 1rem .5rem 1rem;
}

@media screen and (max-width: 768px) {
    .preference{
      flex-direction: column;
      height: auto;
      margin-bottom: 1rem;
      
    }
    .left{
      width: 100%;
    }
    .right{
      width: 100%;
    }
}